.container {
    padding: 0 2rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.main {
    padding: 4rem 0;
    max-width: 640px;
  }

.card {
    margin: 1rem;
    padding: 1rem;
    color: inherit;
    background: #fafafa;
    border: 1px solid #eaeaea;
    border-radius: 10px;
  }

.form {
    display: flex;
}

.input {
    padding: 1rem;
    margin-right: 1rem;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    width: 100%;
  }

.btn {
    padding: 1rem;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    font-weight: 500;
    background-color: #f8f9fa;
    color: #343a40;
  }

  .btn:hover,
  .btn:focus,
  .btn:active {
        background-color: #e9ecef;
    }

  .result{
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid #eaeaea;
    background-color: #fff;
    border-radius: 6px;
    width: 100%;
  }


  @media (max-width: 400px) {
    .form {
      display: flex;
      flex-direction: column;
  }
    .input {
      width: 100%;
    }
    .btn {
      margin-top: 1rem;
    }
  }
  

